/.vs
/x64
/Debug
/Engine/x64
/Engine/Debug
Engine.VC.VC.opendb
Engine.VC.db
/Engine/Thumbs.db
/Engine/Engine.aps
/Engine/Release
/Release
/Engine/Engine.vcxproj.user
/Build
*.cso
imgui.ini
/Engine/Assets/Ignore
/Engine/cookies.dat
/Engine/VTune Amplifier Results/Engine
